* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: white;
    padding-top: 3rem;
}

header {
    background-color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index:  1000;
    box-shadow:  0  4px  2px -2px rgba(0,  0,  0,  0.1);
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: "Protest Strike"
  }

.navbar a {
    font-size: 2rem;
    text-decoration: none;
    color: #058C42;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #16DB65;
    transition: 0.2s;
}

#home {
    font-family: "Protest Strike";
    font-size: 5rem;
    color: #058c42;
    text-align: center;
    padding-top: 5rem;
}

.summary {
    overflow-wrap: break-word;
    text-align: center;
    margin:  0 auto;
    font-size: 1.25rem;
    width: 50%;
    padding-bottom: 5rem;
    font-family: "Fredoka", sans-serif
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 5rem;
    font-family: "Fredoka", sans-serif;
}

.input p {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.input input {
    height: 5vh;
    width: 25vw;
    font-size: 1.25rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.input button {
    height: 5vh;
    width: 25vw;
    font-size: 1.25rem;
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
    color: white;
    background-color: #16DB65;
    border-radius: 5px;
    margin-top: 50px;
}

.input button:hover {
    transition: 0.2s;
    background-color: #058c42;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    grid-template-rows: repeat(3, auto);
    font-family: "Fredoka", sans-serif;
    justify-content: center;
    text-align: center;
    gap: 25px;
    
}

.guidelines {
    position: relative;
}

.guidelines p {
    margin-bottom: 10px;
}

.guidelines i {
    position: absolute;
    top: 60%;
    left: 2.5%;
    color: #058c42;
}

@media screen and (max-width:  768px) {
    .guidelines i {
        display: none;
    }
}

.about {
    background-image: linear-gradient(90deg, #058c42, #16DB65);
    width: 100%;
    margin-bottom: 7.5rem;
    display: flex;
    align-items: center;
    padding: 2.5rem;
}

.info { 
    width: 75%;
    height: 75%;
    margin-left: 5rem;    
    font-family: "Fredoka", sans-serif;
    color: white;
}

@media screen and (max-width:  768px) {
    .info {
        width:  100%; 
        margin-left:  0; 
        margin-right:  0; 
        padding-left: 5px;
    }
}

.info h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.info p {
    font-size: 1.5rem;
    padding-bottom: 5px;
    
}
.savingsIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
}

.savingsIcon img{
    height: 250px;
}

@media screen and (max-width:  1500px) {
    .savingsIcon {
        display: none;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3,  auto);
    grid-template-rows: repeat(2, auto);
    font-family: "Fredoka", sans-serif;
    justify-content: center;
    text-align: center;
    margin:auto;
    gap: 10rem;
    padding: 15px;
    margin-bottom: 7.5rem;
}

.card {
    width: 25rem;
    height: 25rem;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 black;
    margin: auto;
}

.card h1 {
    font-family: "Protest Strike";
    font-size: 5rem;
    color: #058c42;
    text-align: center;
    padding-top: 4rem;
}

.card h3 {
    font-size: 1.5rem;
}

.card p {
    font-family: "Fredoka", sans-serif;
    font-size: 1.25rem;
}

@media screen and (max-width:  1400px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
}

footer {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.footer-format { 
    width: 100%;
    padding: 15px;
}

.icons {
    display: flex;
    justify-content: center;
    gap:7.5%;
}

.icons a {
    text-decoration: none;
    padding: 10px;
    background-color: #058c42;
    margin: 10px;
    border-radius: 50%;
}

.icons a i {
    font-size: 2em;
    color: white;
}

.icons a:hover {
    background-color: white;
    transition: 0.3s;
}

.icons a:hover i {
    color: black;
    transition: 0.5s;
}