* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: white;
    padding-top: 3rem;
}

header {
    background-color: #272635;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index:  1000;
    padding: 1rem;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: "Protest Strike"
  }

.navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #B1E5F2;
    transition: 0.2s;
}

h1 {
    font-family: "Protest Strike";
    font-size: 3rem;
    color: #B1E5F2;
    text-align: center;
    padding-top: 2.5%;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: "Fredoka", sans-serif;
}

.input p {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #272635;
}

.input input {
    height: 5vh;
    width: 25vw;
    font-size: 1rem;
    text-align: center;
    background-color: white;
    border: 2px solid #272635;
    border-radius: 5px;
}

.input button {
    height: 5vh;
    width: 25vw;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
    color: white;
    background-color: #272635;
    border-radius: 5px;
}

.input button:hover {
    transition: 0.2s;
    background-color: #B1E5F2;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    grid-template-rows: repeat(3, auto);
    gap:  25px;
    font-family: "Fredoka", sans-serif;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
